#divdiv {
  /*background-image: url("https://ae01.alicdn.com/kf/HTB1Ck_yRXXXXXapXFXXq6xXFXXXe/HUAYI-Art-Fabric-Photography-Backdrop-Colorful-Seamless-Numbers-Pattern-Backdrop-Custom-Photo-Prop-backgrounds-D-1050.jpg");*/
  /*opacity: .2*/
  background-color: #e8e5e5;
}



#div1 {
  text-align: center;
  margin: 100px;
}

a {
  font-family: Verdana;
}

/* Header Container holding the image and the text */

.headercontainer {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */

.textcentered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: 'Dekko', cursive;
}

/* Container holding the image and the text */

.footercontainer {
  position: relative;
  text-align: left;
  color: white;
}

/* Top left text */

.texttop-left {
  position: absolute;
  top: 35px;
  left: 90px;
  font-family: 'Dekko', cursive;
  font-size: 20px;
}

#buttonArea {
  background: #0010F6;
  background-image: -webkit-linear-gradient(top, #0010F6, #7F6ED0);
  background-image: -moz-linear-gradient(top, #0010F6, #7F6ED0);
  background-image: -ms-linear-gradient(top, #0010F6, #7F6ED0);
  background-image: -o-linear-gradient(top, #0010F6, #7F6ED0);
  background-image: linear-gradient(to bottom, #0010F6, #7F6ED0);
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  color: #FFFFFF;
  font-family: Verdana;
  font-size: 20px;
  font-weight: normal;
  border: solid #080001 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width: 130px;
  height: 45px;
}

.buttonArea:hover {
  background: #5E06D0;
  background-image: -webkit-linear-gradient(top, #5E06D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #5E06D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #5E06D0, #3D94F6);
  background-image: -o-linear-gradient(top, #5E06D0, #3D94F6);
  background-image: linear-gradient(to bottom, #5E06D0, #3D94F6);
  text-decoration: none;
}



#historyArea {
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}



.directions {
  font-family: Verdana;
  font-weight: bold;
  font-size: 23px;


}

.title {

  font-family: 'Dekko',
  cursive;
  font-style: italic;
  width: 100%;



  color: #313131;
  font-size: 75px;
  font-weight: bold;

  -webkit-animation: colorchange 8s infinite alternate;


}

@-webkit-keyframes colorchange {
  0% {

    color: #FFFF00;
  }

  20% {

    color: #23a332;
  }

  40% {

    color: #FFFF00;
  }

  60% {

    color: #23a332;
  }

  80% {

    color: #FFFF00;
  }
  100% {

    color: #23a332;
  }
}




.btn-group {
  margin-top: 50px;
  font-weight: bolder;
}

.btn-group button1 {
  background-color: blue;

  border: 1px solid black;

  color: white;

  padding: 20px 70px;
  cursor: pointer;
  background: #F6F602;
  background-image: -webkit-linear-gradient(top, #F6F602, #67B500);
  background-image: -moz-linear-gradient(top, #F6F602, #67B500);
  background-image: -ms-linear-gradient(top, #F6F602, #67B500);
  background-image: -o-linear-gradient(top, #F6F602, #67B500);
  background-image: linear-gradient(to bottom, #F6F602, #67B500);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  text-shadow: 1px 1px 20px #000000;
  text-decoration: none;

}


.btn-group button1:active {
  background-color: #3e8e41;
  box-shadow: 0 6px #666;
  transform: translateY(4px);
}

.btn-group button1:active {
  color: black;
}

.btn-group button2:active {
  background-color: #3e8e41;
  box-shadow: 0 6px #666;
  transform: translateY(4px);
}

.btn-group button2:active {
  color: black;
}

.btn-group button3:active {
  background-color: #3e8e41;
  box-shadow: 0 6px #666;
  transform: translateY(4px);
}

.btn-group button3:active {
  color: black;
}

.btn-group button:not(:last-child) {
  border-right: none;

}


.btn-group:after {
  content: "";
  clear: both;
  display: block;


}

/* Add a background color on hover */

.btn-group button1:hover {
  background-color: #3e8e41;
}

#historyList {
  text-align: Center;
  padding-right: 40px;
  font-size: 18px;

}

#statusArea {
  font-size: 16px;
}

.btn-group button2 {
  background-color: red;
  border: 1px solid black;
  color: white;
  padding: 20px 62px;
  cursor: pointer;
  background: #FF0303;
  background-image: -webkit-linear-gradient(top, #FF0303, #FCC221);
  background-image: -moz-linear-gradient(top, #FF0303, #FCC221);
  background-image: -ms-linear-gradient(top, #FF0303, #FCC221);
  background-image: -o-linear-gradient(top, #FF0303, #FCC221);
  background-image: linear-gradient(to bottom, #FF0303, #FCC221);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

}

.btn-group button2:hover {
  background-color: #3e8e41;
}

.btn-group button3 {
  background-color: green;
  border: 1px solid black;
  color: white;
  padding: 20px 70px;
  cursor: pointer;
  background: #7C09E0;
  background-image: -webkit-linear-gradient(top, #7C09E0, #F088FC);
  background-image: -moz-linear-gradient(top, #7C09E0, #F088FC);
  background-image: -ms-linear-gradient(top, #7C09E0, #F088FC);
  background-image: -o-linear-gradient(top, #7C09E0, #F088FC);
  background-image: linear-gradient(to bottom, #7C09E0, #F088FC);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;

}

.btn-group button3:hover {
  background-color: #3e8e41;
}

#statusArea {
  font-size: 17px;
}
